.blog-article {
    padding-bottom: 90px;

    &__category {
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        font-weight: 800;
        letter-spacing: 2px;
        color: $color-white;
        padding: 15px 30px;
        background-color: $color-accent;
        border-radius: 100px;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__title {
        max-width: 40%;
        margin-bottom: 10px;

        @include respond(phone) {
            max-width: 70%;
            margin-bottom: 25px;
        }

        @include respond(phone-small) {
            max-width: none;
        }
    }

    &__descr {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        color: $color-white;
        margin-bottom: 30px;
        max-width: 45%;

        @include respond(phone-small) {
            font-size: 14px;
		    max-width: none;
        }
    }

    &__link {
        background-color: $color-neptune;
        display: inline-block;
        text-transform: uppercase;
        transition: all .3s;

        &:hover {
            transition: all .3s;
            background-color: $color-neptune-hover;
        }
    }
}