.social {
    display: flex;
    align-items: center;

    @include respond(mini-phone) {
        display: none;
    }

    &__link {
        display: block;
        @include image-set;
        transition: all .3s;

        &:hover {
            transform: rotate(20deg);
        }

        &--fb {
            background-image: url("../images/fb.svg");
            width: 11px;
            height: 20px;
        }

        &--tw {
            background-image: url("../images/tw.svg");
            width: 20px;
            height: 18px;
        }
    }

    &__item:not(:last-child) {
        margin-right: 40px;
    }
}