.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 450px;
    height: 350px;
    border-radius: 8px;
    padding-top: 50px;

    @include respond(tab-mini-land) {
        width: 400px;
		height: 350px;
    }

    &__field {
        width: calc(100% - (65px * 2));
        border: none;
        border-bottom: 1px solid rgba(28, 46, 61, .3);
        padding: 20px 0;
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $color-dark;

        @include respond(phone-small) {
            width: calc(100% - 30px);
        }
    }

    &__btn {
        margin-top: 40px;
        width: 100%;
        background-color: $color-neptune;
        padding: 35px 70px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        transition: all .3s;

        &:hover {
            transition: all .3s;
            background-color: $color-neptune-hover;
        }

        @include respond(phone-small) {
            padding: 30px 50px;
        }
    }
}