.first {
    height: 100vh;
    min-height: 640px;
    background-image: url("../images/first-bg.jpg");
    @include image-set;
    color: white;
    padding-top: 150px;

    @include respond(phone-small) {
        min-height: auto;
        height: auto;
    }

    &__container {
        position: relative;
        height: 100%;
        
        @include respond(phone-small) {
            padding-top: 0;
		    padding-bottom: 50px;
        }

        @include respond(mini-phone) {
            padding-top: 0;
		    padding-bottom: 70px;
        }
    }

    &__slider {
        position: relative;
    }

    &__slider-btn {
        position: absolute;
        left: 30px;
        bottom: 38px;
        width: 14px;
        height: 14px;
        z-index: 10;
        @include image-set;

        @include respond(tab-port) {
            left: 12px;
        }

        @include respond(tab-port) {
            bottom: 34px;
        }

        @include respond(mini-phone) {
            left: 25px;
        }

        &--right {
            left: auto;
            right: 30px;
            background-image: url("../images/main-slider/arrow-right.svg");

            @include respond(tab-port) {
                right: 12px;
                left: auto;
            }

            @include respond(mini-phone) {
                right: 25px;
		        left: auto;
            }
        }

        &--left {
            background-image: url("../images/main-slider/arrow-left.svg");
        }
    }

    &__link {
        background-color: rgba(28,46,61,.4);
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 2px;
        font-weight: 800;
        padding: 12px 25px;
        border-radius: 100px;
        text-transform: uppercase;
        display: inline-block;

        @include respond(mini-phone) {
            font-size: 10px;
		    padding: 10px 20px;
        }
    }

    &__title {
        color: $color-white;
        max-width: 40%;
        margin-bottom: 30px;

        @include respond(phone) {
            max-width: 70%;
        }

        @include respond(phone-small) {
            max-width: none;
        }
    }

    &__descr {
        font-family: 'SFCompact', sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        max-width: 32%;
        margin-bottom: 45px;

        @include respond(phone) {
            max-width: 70%;
        }

        @include respond(phone-small) {
            font-size: 14px;
		    max-width: none;
        }
    }

    &__btn {
        background-color: $color-accent;
        position: relative;
        z-index: 5;
        transition: background-color .3s;

        &:hover {
            background-color: $color-accent-hover;
            transition: background-color .3s;
        }
    }

    &__bottom {
        position: absolute;
        left: 51%;
        transform: translateX(-50%);
        bottom: 0;
        width: calc(100% - 60px);
        display: flex;
        align-items: flex-end;

        @include respond(phone) {
            bottom: -2px;
        }

        @include respond(phone-small) {
            position: static;
            transform: none;
            width: 100%;
            flex-direction: column-reverse;
            align-items: stretch;
            margin-top: 50px;
        }
    }
}

.become {
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 100px;

    @include respond(mini-phone) {
        padding: 30px 0;
    }

    &__title {
        max-width: 50%;

        @include respond(tab-mini-land) {
            max-width: 75%;
        }

        @include respond(phone-small) {
            max-width: none;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;

        @include respond(tab-port) {
            justify-content: center;
        }

        @include respond(mini-phone) {
            margin-top: 30px;
        }
    }

    &__item {
        width: 23%;
        margin-right: 2%;
        overflow: hidden;
        border-radius: 4px;
        position: relative;
        font-size: 0;

        @include respond(tab-port) {
            width: 39%;
		    margin-right: 2%;
            margin-bottom: 2%;
            
            :nth-child(2n) {
                margin-right: 0;
            }
        }

        @include respond(phone) {
            width: 48%;
        }

        @include respond(phone-small) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }

        :nth-child(4n) {
            margin-right: 0;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $color-neptune;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }

        &:hover::before {
            opacity: 0.9;
        }

        &:hover .become__item-text {
            transform: translateY(0);
        }

        &-img {
            max-height: 100%;
            object-fit: cover;

            @include respond(phone-small) {
                width: 100%;
            }
        }

        &-text {
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            color: $color-white;
            position: absolute;
            left: 0;
            bottom: 0;
            padding-left: 40px;
            padding-bottom: 30px;
            transform: translateY(300px);
            transition: transform .3s ease-in-out;

            @include respond(tab-mini-land) {
                padding-left: 20px;
                padding-bottom: 30px;
            }

            @include respond(phone-small) {
                font-size: 32px;
                line-height: 45px;
            }
        }
    }
}

.featured {
    background-image: url("../images/featured-bg.jpg");
    @include image-set;
    height: 100vh;
    position: relative;

    @include respond(phone) {
        height: auto;
		padding-top: 40px;
    }

    &__stories {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 30%;
        background-color: rgba($color-limed, .9);
        padding: 70px 70px;

        @include respond(tab-land) {
            padding: 80px 60px;
        }

        @include respond(tab-mini-land) {
            width: 45%;
        }

        @include respond(phone) {
            position: static;
            width: 100%;
            padding: 40px 60px;
        }

        @include respond(phone-small) {
            padding: 30px;
        }
    }

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__title {
        color: $color-white;
        margin-bottom: 50px;
    }
}

.newsletter {
    padding-top: 52px;
    padding-bottom: 130px;

    @include respond(phone-small) {
        padding-top: 25px;
		padding-bottom: 25px;
    }

    &-content {
        position: relative;
        border-radius: 8px;
        background-image: url("../images/newsletter-bg.jpg");
        @include image-set;
        display: flex;
        justify-content: space-between;
        padding: 0 $newsletter-gap;
        padding-top: 250px;
        padding-bottom: 160px;

        @include respond(tab-mini-land) {
            $newsletter-gap: 30px;
            padding-top: 180px;
        }

        @include respond(tab-port) {
            padding-top: 160px;
        }

        @include respond(phone) {
            padding-top: 100px;
		    padding-bottom: 400px;
        }

        @include respond(phone-small) {
            flex-direction: column;
		    padding: 30px 15px;
        }
    }

    &__text {
        max-width: 350px;

        @include respond(tab-mini-land) {
            margin-bottom: 90px;
        }

        @include respond(tab-port) {
            margin-bottom: 110px;
        }

        @include respond(phone) {
            margin-bottom: 50px;
        }
    }

    &__title {
        color: $color-white;
        margin-bottom: 30px;
    }

    &__descr {
        font-family: "SFCompact", sans-serif;
        font-size: 16px;
        line-height: 21px;
        font-weight: 400;
        color: $color-white;
    }

    &__form {
        position: absolute;
        bottom: -96px;
        right: $newsletter-gap;

        @include respond(tab-port) {
            bottom: -97px;
        }

        @include respond(phone) {
            left: 50%;
            transform: translateX(-50%);
            right: auto;
        }

        @include respond(phone-small) {
            position: static;
            transform: none;
            width: 100%;
            margin-top: 30px;
            height: auto;
        }
    }
}

.insp {
    padding-top: 80px;

    @include respond(phone-small) {
        padding-top: 25px;
    }

    @include respond(mini-phone) {
		padding: 30px 0;
	}

    &__descr {
        text-align: center;
        margin: 0 auto;
        max-width: 600px;
        font-size: 16px;
        line-height: 24px;
        color: #788692;
        font-weight: 300;
        font-family: "SFCompact", sans-serif;
        margin-bottom: 80px;

        @include respond(mini-phone) {
            margin-top: 30px;
        }
    }

    &__title {
        margin-bottom: 20px;
    }

    &__list {
        grid-gap: 26px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(400px, auto);

        @include respond(phone) {
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(400px, auto);
            width: 100%;
        }

        &-title {
            margin-bottom: 20px;
        }
    }

    &__item {
        position: relative;
        background-color: $color-black;
        border-radius: 8px;
        @include image-set;

        @include respond(phone) {
            height: auto;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 65%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.461617) 100%);
        }

        &--big {
            grid-column-end: span 2;

            @include respond(phone) {
                grid-column-end: 2;
            }
        }

        &--bigheight {
            height: 500px;
        }

        &--1 {
            background-image: url("../images/insp-gallery/insp1.jpg");
        }

        &--2 {
            background-image: url("../images/insp-gallery/insp2.jpg");
        }

        &--3 {
            background-image: url("../images/insp-gallery/insp3.jpg");
        }

        &--4 {
            background-image: url("../images/insp-gallery/insp4.jpg");
        }

        &--5 {
            background-image: url("../images/insp-gallery/insp5.jpg");
        }

        &--6 {
            background-image: url("../images/insp-gallery/insp6.jpg");
        }

        &--7 {
            background-image: url("../images/insp-gallery/insp7.jpg");
        }
    }

    &__text {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 5;
        padding: 0 35px;
        padding-bottom: 30px;
    }

    &__category {
        font-size: 10px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: $color-white;
        margin-bottom: 5px;
    }

    &__people {
        display: flex;

        &-item {
            overflow: hidden;
            border-radius: 100%;
            width: 48px;
            height: 48px;
        }

        &-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-item:not(:first-child) {
            margin-left: -18px;
        }
    }

    &__play {
        background-image: url("../images/play-btn.svg");
        @include image-set;
        width: 64px;
        height: 64px;
        position: absolute;
        left: 30px;
        top: 30px;
    }
}

.featured-videos {

    @include respond(mini-phone) {
        padding: 30px 0;
    }
}