//FONT
$default-font-size: 1.6rem;

//COLORS
$color-white: #fff;
$color-black: #111;
$color-dark: #1c2e3d;
$color-accent: #E8594E;
$color-neptune: #73AFBA;
$color-limed: #3C4A51;
$color-slate: #788692;
$color-accent-hover: #e31d0e;
$color-neptune-hover: #4196a6;

//PADDINGS
$newsletter-gap: 100px;